body{
    background-color: rgb(240, 146, 196);
  }
  h1{
    color: grey;

  }
  img{
    background-color: greenyellow;
  }
  .broccli{
    background-color:honeydew;
  }
  .mushroom{
    background-color: rgb(250, 250, 250);
  }
  .Fox{
    background-color: beige;
  }
  .circular{
    border-radius:100%;
  }

  #heading{
    color: red;
  }